/*partie Nicolas*/
body{
    background: #e1e5f2;
}
.presentation{
    text-align: center;
}
h1{
    text-align: center;
    margin-top: 2%;
}
h2{
    text-align: center;
    margin-top:2%;
}
.img{
    text-align: center;
    border: 2px solid #0d1321;
    margin: 5px;
    border-radius: 10px;
}
.logo{
    width: 30%;
}
nav{
    background: linear-gradient(40deg, #0d1321, #748cab);
}
.nav-link, .navbar-brand{
    font-weight: bold;
    color: #FFF;
}
.nav-link:hover, .navbar-brand:hover{
    color: #f0ebd8;
}
li > a {
  position: relative;
  color: #FFF;
  text-decoration: none;
}
li > a:hover {
  color: #FFF;
}
 li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.gallery
{
    display:inline-block;
    border:0;
    width:196px;
    height:210px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.gallery:hover
{
    box-shadow: 0px 0px 20px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(2);
    transition: all 200ms ease-in;
    transform: scale(2);
}
/*Fin partie Nicolas*/

/* page 4 */
.liste-contact{
    list-style: none;
}
#contact-liste{
    text-align: center;
}
#text-devis{
    font-weight: bold;
    font-size: 1.2rem;    
}
/*fin page 4*/
/* debut page 3 */
.quote{
    text-align: center;
}
/* fin page 3 */
/*debut page 2 */
h3{
    text-align: center;
}
.presentation, .prix, .simple, .secu{
    font-weight: bold;
    font-size: 1.1rem;
}
/*fin page 2 */